nav img {
	width: 32px;
	opacity: 75%;
}

nav img:hover {
	opacity: 100%;
}

main a {
	color: #598;
	text-decoration: none;
	font-weight: 500;
}

main a:hover {
	color: #487;
	text-decoration: underline;
	text-decoration-style: dashed;
	text-underline-offset: 0.2em;
}

main {
	line-height: 1.5em;
}

.homepage-content strong {
	color: #043;
	font-weight: 575;
}

.homepage-content :is(h1, h2, h3, h4, h5, h6) {
	margin-top: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
}

.homepage-content h1 {
	font-size: x-large;
}

.homepage-content h2 {
	font-size: larger;
}

.athelas {
    font-family: avenir next,avenir,sans-serif;
	font-size: x-large;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}

.nested-links {
	text-align: justify;
	opacity: 1.0;
	width: 100%;
	height: auto;
}

.nested-links a {
	color: #777;
	text-decoration: none;
	font-weight: 500;
}

.nested-links a:hover {
	color: #487;
	text-decoration: underline;
	text-decoration-style: dashed;
	text-underline-offset: 0.2em;
}

/* Achievments (e.g. on the About page) */

.achievements {
	text-align: center;
	color: #fff;
	display: flex;
}

.achievement-pane {
	flex: 1;
	margin: 2px;
	background-color: #444;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
}

.achievement {
	backdrop-filter: grayscale(10%) brightness(50%);
	height: 100%;
	padding: 10px;
}

@media screen and (min-width: 601px) {
	.achievement {
		font-size: small;
	}
}

@media screen and (max-width: 600px) {
	.achievement {
		font-size: x-small;
	}
}

.achievement .title {
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	align-content: space-between;
}

@media screen and (min-width: 601px) {
	.achievement .title {
		font-size: normal;
	}
}

@media screen and (max-width: 600px) {
	.achievement .title {
		font-size: smaller;
	}
}

.achievement .image-credit {
	color: #bbb;
	font-style: italic;
}

.achievement a {
	color: #bbb;
}
