{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns ma2">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.Permalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="w-100{{ if $featured_image }} w-60-ns pl3-ns{{ end }}">
        <h1 class="f4 fw2 mt0 lh-title">
          <a href="{{.Permalink}}" class="color-inherit dim link">
            {{ .Title }} - {{ .Description }}
            </a>
        </h1>
        <div class="f6-l fw5 mt1 mb1 flex flex-column items-right">
          <div class="w-100 tr">
            {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }} {{ .Date.Format "Jan 2006" }}
          </div>
          <div class="flex">
            {{ with $.Param "slides_format" }}
            {{ $slides_icon := (printf "%s%s%s" "../images/" ($.Param "slides_format") ".png") | absURL }}
            <div class="w-100 fw3 tr mr2">Slides available:</div>
            <div class="tr w1"><img src="{{ $slides_icon }}" alt="slides available"/></div>
            {{ end }}
          </div>
        </div>
        <div class="f5-l fw2 mt3 lh-copy nested-copy-line-height nested-links">
          {{ $summary_paragraphs := split .Summary "</p>" }}
          {{ range $index, $html_line := $summary_paragraphs }}
            {{ $plain_line := (markdownify (plainify $html_line)) }}

            {{ if not (or (hasPrefix $plain_line "Note:") (eq "" $plain_line)) }}
              <p>{{ substr $plain_line 0 300 }}...</p>
            {{ end }}
          {{ end }}
        </div>
          <a href="{{.Permalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>
