<div class="achievement-pane"
	 style='background-image: url({{ .Get "image" }});'>
<div class="achievement">
	<div class="title">{{ .Get "title" }}</div>
	<div class="improvement">{{ .Get "improvement" }}</div>
	<div class="description">{{ .Get "description" }}</div>
	<div class="image-credit">Image by <a href='{{ .Get "image_link" }}'>{{ .Get "image_author" }}</a></div>
</div>
</div>
