<script>
	function resize(frame)
	{
		frame.style.height = 1.25 * frame.contentWindow.document.body.scrollHeight + 'px';
	}
</script>

<div>From <a href="{{ $.Page.Site.Params.linkedin }}/detail/recent-activity/shares/" target="_new">my posts on LinkedIn</a>...</div>

<iframe
	src="https://www.linkedin.com/embed/feed/update/urn:li:share:{{ index .Params 0 }}" 
	title="LinkedIn post"
	width="100%"
	height="{{ index .Params 1 }}px"
	name="frame"
    frameborder="0" 
    allowfullscreen=""
    scrolling="no" 
    onload="resize(this)"/>
